
<div class="header">

<div class="logo">
  <img class="logo-img" src="assets/png-transparent-color-logo-badge-blue-red-armband-text-circle-removebg-preview.png" alt="">
</div>
<div class="currency">
  <div class="card">
    <button class="button-currency" [routerLink]="['/dashboard/currency-details/EUR/to/USD']"> EUR-USD Details</button>
  </div>
  <div class="card">
    <button class="button-currency" [routerLink]="['/dashboard/currency-details/EUR/to/GBP']"> EUR-GBP Details</button>
  </div>
</div>
</div>