.home {
  color: white;

  .title {
    padding-inline-start: 1rem;
  }

  .body {
    .exchanger {
      border: solid 1px rgb(128, 126, 126);
      background-color: black;
      padding: 0px 1rem;
      padding-top: 1rem;
      padding-bottom: 2rem;

      .amount {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .amount-number {
          width: 20rem;
        }

        .from-to {
          width: 50%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;

          .amount-from {
            width: 15rem;
          }

          .amount-icon {
            .icon {
              width: 8rem;
              height: 4rem;
            }
          }

          .amount-to {
            width: 15rem;
          }
        }
      }

      .convert {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        .convert-but {
          width: 50%;

          .submit {
            width: 100%;
            background-color: #2d1791;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }

          .submit:hover {
            background-color: #45a049;
          }
        }
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .exchange-rate {
        width: 50%;
        display: flex;
        align-items: center;

        .card {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          height: 3rem;
          width: 20rem;
          border: solid 1px rgb(128, 126, 126);
          background: black;
          color: white;
        }
      }

      .exchanger-result {
        width: 50%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      .result {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: solid 1px rgb(128, 126, 126);
        width: 15rem;
        height: 5rem;
      }

      .more-details {
        .details-but {
          .submit {
            width: 15rem;
            background-color: #2d1791;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }

          .submit:hover {
            background-color: #45a049;
          }
        }
      }
    }

    .popular-currencies {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .card {
        width: 30%;
      }
    }
  }
}

input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  text-align: center;
}


.icon-animation {
  animation:spin 4s linear 1;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(180deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(180deg); } 
}
@keyframes spin { 
  100% { 
      // -webkit-transform: rotate(360deg); 
      transform:rotate(180deg); 
  } 
}