
<div class="home">
<div class="title" >
  <h1>Currency Exchanger</h1>
</div>
<div class="body">

  <form  [formGroup]="form" class="exchanger">
    <div class="amount">
      <div class="amount-number">
      
        <label for="fname">Amount</label>
        <input type="number" id="amount" name="amount"  formControlName="amount" placeholder="0">

      </div>
        <div class="from-to">
          <div class="amount-from">
            <label for="symbolFrom">From</label>
            <select id="symbolFrom" name="symbolFrom" formControlName="from" (ngModelChange)="symbolFromChange()">
              <option [value]="symbol.name" *ngFor="let symbol of currencySymbols">{{symbol.name}}</option>
            </select>
          </div>
          <div class="amount-icon">
            <img class="icon"  (click)="exchangerSymbol()" src="assets/clipart-arrow-left-right-256x256-802e.png" alt="">
          </div>
          <div class="amount-to">
            <label for="symbolTO">to</label>
            <select id="symbolTO" name="symbolTo" formControlName="to" (ngModelChange)="symbolToChange()">
              <option [value]="symbol.name" *ngFor="let symbol of currencySymbols">{{symbol.name}}</option>
            </select>
          </div>
        </div>
    </div>
    <div class="convert">
      <div class=""></div>
      <div class="convert-but">
        <button class="submit" (click)="convert()">convert</button>
      </div>
    </div>
    <div class="details">
      <div class="exchange-rate">
        <div class="card" >
            <span *ngIf="rate">  1.00 {{this.form.get('from')?.value}}= {{rate}}  {{this.form.get('to')?.value}}</span>
        </div>
      </div>
      <div class="exchanger-result">
        <div class="result">
          <span *ngIf="rate"> {{result}} {{this.form.get('to')?.value}}</span>
         </div>
      <div class="more-details">
        <div class="details-but">
          <button class="submit" (click)="details()">More Details</button>
        </div>
      </div>
      </div>
    </div>
  </form>

  <div class="popular-currencies">
        <div class="card" *ngFor="let rate of this.rates">
          <app-card [rate]="rate" [from]="form.get('from')?.value"></app-card>
        </div>
  </div>
</div>
</div>